{% extends 'templates/app.twig' %}
{% block content %}
    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid" data-center="background-size: 100%;" data-top-bottom="background-size: 110%;">
        <div
            class="container">
            <!-- jumbo-heading -->
            <div class="jumbo-heading" data-aos="fade-up">
                <h1>Datos Personales</h1>
                <!-- Breadcrumbs -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="../">Home</a>
                        </li>
                        <li aria-current="page" class="breadcrumb-item active">Datos Personales</li>
                    </ol>
                </nav>
                <!-- /breadcrumb -->
            </div>
            <!-- /jumbo-heading -->
        </div>
        <!-- /container -->
    </div>
    <!-- /jumbotron -->
    <div class="page">
        <div
            class="container block-padding no-bg-small">
            <!--row -->
            <div class="row pb-3">
                <div class="col-lg-3 col-md-3 col-12" id="perfil-menu">
                    <div class="list-group">
                        <a href="{{ path_for('user.data', {'id': auth.user.id}) }}" class="active list-group-item list-group-item-action">Mis Datos Personales</a>
                        <a href="{{ path_for('user.password', {'id': auth.user.id}) }}" class="list-group-item list-group-item-action">Cambiar mi contrase単a</a>
                        <a href="{{ path_for('user.entrys', {'id': auth.user.id}) }}" class="list-group-item list-group-item-action">Mis Publicaciones</a>
                        <a href="{{ path_for('user.publish') }}" class="list-group-item list-group-item-action">Publicar</a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-12" id="perfil-data">
                    {% include 'templates/partials/flash.twig' %}
                    <h4>Modificar mi contrase単a</h4>
                    <form action="{{ path_for('user.password.change') }}" method="post">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Contrase単a anterior<span class="required">*</span>
                                    </label>
                                    <input class="form-control input-field" name="password_old" type="text">
                                    {% if errors.password_old %}
                                        <div class="invalid-feedback">{{ errors.password_old | first }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    <label>Contrase単a nueva<span class="required">*</span>
                                    </label>
                                    <input class="form-control input-field" name="password" type="text">
                                    {% if errors.password %}
                                        <div class="invalid-feedback">{{ errors.password | first }}</div>
                                    {% endif %}
                                </div>
                                <input type="hidden" name="id" value="{{ user.id }}">
                            </div>
                            <button class="btn btn-primary" id="submit_btn" type="submit" value="Submit">Modificar</button>
                            {{ csrf.field | raw }}
                        </div>
                    </form>
                </div>
                <!-- /col-lg-6-->
            </div>
            <!-- /row -->
        </div>
        <!-- /container-->
    </div>

{% endblock %}
