<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <title>Administración</title>
        <link href="{{ base_url() }}/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ base_url() }}/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ base_url() }}/css/datepicker3.css" rel="stylesheet">
        <link href="{{ base_url() }}/css/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/theme/3024-night.css">

        <!--Custom Font-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
        <link
        href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
        	<script src="js/html5shiv.js"></script>
        	<script src="js/respond.min.js"></script>
        	<![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" data-target="#sidebar-collapse" data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <span>Lumino</span>Admin</a>
                    {# <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <em class="fa fa-envelope"></em>
                                <span class="label label-danger">15</span>
                            </a>
                            <ul class="dropdown-menu dropdown-messages">
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a class="pull-left" href="profile.html">
                                            <img alt="image" class="img-circle" src="http://placehold.it/40/30a5ff/fff">
                                        </a>
                                        <div class="message-body">
                                            <small class="pull-right">3 mins ago</small>
                                            <a href="#">
                                                <strong>John Doe</strong>
                                                commented on
                                                <strong>your photo</strong>.</a>
                                            <br/><small class="text-muted">1:24 pm - 25/03/2015</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a class="pull-left" href="profile.html">
                                            <img alt="image" class="img-circle" src="http://placehold.it/40/30a5ff/fff">
                                        </a>
                                        <div class="message-body">
                                            <small class="pull-right">1 hour ago</small>
                                            <a href="#">New message from
                                                <strong>Jane Doe</strong>.</a>
                                            <br/><small class="text-muted">12:27 pm - 25/03/2015</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="all-button">
                                        <a href="#">
                                            <em class="fa fa-inbox"></em>
                                            <strong>All Messages</strong>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <em class="fa fa-bell"></em>
                                <span class="label label-info">5</span>
                            </a>
                            <ul class="dropdown-menu dropdown-alerts">
                                <li>
                                    <a href="#">
                                        <div>
                                            <em class="fa fa-envelope"></em>
                                            1 New Message
                                            <span class="pull-right text-muted small">3 mins ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <div>
                                            <em class="fa fa-heart"></em>
                                            12 New Likes
                                            <span class="pull-right text-muted small">4 mins ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <div>
                                            <em class="fa fa-user"></em>
                                            5 New Followers
                                            <span class="pull-right text-muted small">4 mins ago</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul> #}
                </div>
            </div>
            <!-- /.container-fluid -->
        </nav>
        {% include 'templates/partials/navigation.twig' %}
        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main"> {% block content %}{% endblock %}
            </div>
            <div class="row navbar-fixed-bottom">
                <div class="col-sm-12">
                    <p class="back-link">Lumino Theme by
                        <a href="https://www.medialoot.com">Medialoot</a>
                    </p>
                </div>
            </div>
            <!--/.row-->
            <!--/.main-->
            <!-- Bootstrap core & Jquery --><script src="{{ base_url() }}/js/jquery-1.11.1.min.js"> </script>
            <script src="{{ base_url() }}/js/bootstrap.min.js"></script>
            <script src="{{ base_url() }}/js/chart.min.js"></script>
            <script src="{{ base_url() }}/js/chart-data.js"></script>
            <script src="{{ base_url() }}/js/easypiechart.js"></script>
            <script src="{{ base_url() }}/js/easypiechart-data.js"></script>
            <script src="{{ base_url() }}/js/bootstrap-datepicker.js"></script>
            <script src="{{ base_url() }}/js/custom.js"></script>
            <script src="https://kit.fontawesome.com/f2ec874710.js"></script>
            <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script> 
            <script src="{{ base_url() }}/js/textarea-as-ace-editor.js"></script>
            <script>
            $( document ).ready(function() {
                $("textarea#page_content").asAceEditor({
                    theme: 'ace/theme/terminal',
                    mode: 'ace/mode/markdown',
                    maxLines: 30,
                    wrap: true,
                    autoScrollEditorIntoView: true
                });
            });
            </script>
            <script>
                window.onload = function () {
                    var chart1 = document.getElementById("line-chart").getContext("2d");
                    window.myLine = new Chart(chart1).Line(lineChartData, {
                        responsive: true,
                        scaleLineColor: "rgba(0,0,0,.2)",
                        scaleGridLineColor: "rgba(0,0,0,.05)",
                        scaleFontColor: "#c5c7cc"
                    });
                };
            </script>
            <script src="http://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>
            <script>
                CKEDITOR.replace('editor', {
                    language: 'es',
                    uiColor: '#eb1561',
                    toolbar: [
                        {
                            name: 'document',
                            groups: ['mode', 'document', 'doctools']
                        }, {
                            name: 'clipboard',
                            groups: [
                                'clipboard', 'undo'
                            ],
                            items: [
                                'Cut',
                                'Copy',
                                'Paste',
                                'PasteText',
                                'PasteFromWord',
                                '-',
                                'Undo',
                                'Redo'
                            ]
                        }, {
                            name: 'editing',
                            groups: [
                                'find', 'selection', 'spellchecker'
                            ],
                            items: [
                                'Find',
                                'Replace',
                                '-',
                                'SelectAll',
                                '-',
                                'Scayt'
                            ]
                        },
                        '/', {
                            name: 'basicstyles',
                            groups: [
                                'basicstyles', 'cleanup'
                            ],
                            items: [
                                'Bold',
                                'Italic',
                                'Underline',
                                'Strike',
                                'Subscript',
                                'Superscript',
                                '-',
                                'CopyFormatting',
                                'RemoveFormat'
                            ]
                        }, {
                            name: 'paragraph',
                            groups: [
                                'list', 'indent', 'blocks', 'align', 'bidi'
                            ],
                            items: [
                                'NumberedList',
                                'BulletedList',
                                '-',
                                'Outdent',
                                'Indent',
                                '-',
                                'Blockquote',
                                'CreateDiv',
                                '-',
                                'JustifyLeft',
                                'JustifyCenter',
                                'JustifyRight',
                                'JustifyBlock',
                                '-'
                            ]
                        }, {
                            name: 'links',
                            items: ['Link', 'Unlink',]
                        },
                        '/', {
                            name: 'styles',
                            items: ['Styles', 'Format', 'Font', 'FontSize']
                        }, {
                            name: 'colors',
                            items: ['TextColor', 'BGColor']
                        }, {
                            name: 'tools',
                            items: ['Maximize', 'ShowBlocks']
                        }, {
                            name: 'others',
                            items: ['-']
                        }
                    ]
                });
            </script>
            <script>
                $(document).ready(function () {
                    $('#tabla').DataTable({
                        "order": [[ 0, "desc" ]],
                        "pageLength": 50,
                        "language": {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        }
                    });
                });
            </script>
        </body>
    </html>
