{% extends 'templates/app.twig' %}
{% block content %}
<div class="row">
    <ol class="breadcrumb">
       <li><a href="{{ base_url() }}">
          <em class="fa fa-home"></em>
       </a></li>
       <li class="active">Admimistradores</li>
    </ol>
 </div><!--/.row-->
 <div class="row">
    <div class="col-lg-12">
       <h1 class="page-header">Lista de administradores <span class="pull-right"><a href="{{ path_for('admin.create.form') }}" class="btn btn-primary">CREAR ADMINISTRADOR <i class="fas fa-user-plus"></i></a></span></h1>
    </div>
 </div><!--/.row-->
 <div class="panel panel-container">
    <div class="row">
                <div class="col-lg-9 col-md-9 col-12" id="perfil-data">
                    {% include 'templates/partials/flash.twig' %}
                    <h4>Modificar mi contraseña</h4>
                    <form action="{{ path_for('user.password.change') }}" method="post">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Contraseña anterior<span class="required">*</span>
                                    </label>
                                    <input class="form-control input-field" name="password_old" type="text">
                                    {% if errors.password_old %}
                                        <div class="invalid-feedback">{{ errors.password_old | first }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    <label>Contraseña nueva<span class="required">*</span>
                                    </label>
                                    <input class="form-control input-field" name="password" type="text">
                                    {% if errors.password %}
                                        <div class="invalid-feedback">{{ errors.password | first }}</div>
                                    {% endif %}
                                </div>
                                <input type="hidden" name="id" value="{{ user.id }}">
                            </div>
                            <button class="btn btn-primary" id="submit_btn" type="submit" value="Submit">Modificar</button>
                            {{ csrf.field | raw }}
                        </div>
                    </form>
                </div>
                <!-- /col-lg-6-->
            </div>
            <!-- /row -->
        </div>

{% endblock %}
